

body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
  font-size: 500px;
  font-family: Verdana, Helvetica, sans-serif;
}

h2 {
  color: white;
  font-size: 300;
  font-family: Verdana, Helvetica, sans-serif;
}

p {
  font-color: white;
  font-size: 20px;
  font-family: Verdana, Helvetica, sans-serif;
}

img {
  width: 200px;
  height: auto;
}

table, tr, td {
  width: 100%;
  align-content: center;
}