

body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: Verdana, Helvetica, sans-serif;
}

h2 {
  color: white;
  font-size: 30px;
  font-family: Verdana, Helvetica, sans-serif;
}

h3 {
  color: white;
  font-size: 20px;
  font-family: Verdana, Helvetica, sans-serif;

}

p {
  color: white;
  font-size: 20px;
  font-family: Verdana, Helvetica, sans-serif;
}

img {
  width: 200px;
  height: auto;
}

table, tr, td {
  width: 100%;
  text-align: center;
}

a {
  color: white;
  font-size: 20px;
  font-family: Verdana, Helvetica, sans-serif;
}