

body, html {
  background-color: black;
  background-image: url("../media/stars.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#pageTitle {
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: Verdana, Helvetica, sans-serif;
}

#tableHeader {
  color: white;
  font-size: 24px;
  font-family: Verdana, Helvetica, sans-serif;
}

#information {
  color: white;
  font-size: 20px;
  font-family: Verdana, Helvetica, sans-serif;
}

img {
  width: 250px;
  height: auto;
}

table, tr, td {
  width: 100%;
  text-align: center;
}

a {
  color: white;
  font-size: 20px;
  font-family: Verdana, Helvetica, sans-serif;
}